.gradient-background {
    background: linear-gradient(300deg,
#014760,
#107e57,
#a1ce3f);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .top-container{
    width: 100%;
    height: 730px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .name{
    grid-area: 1/1/3/2;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .greet{
    font-family: "Playwrite FR Moderne", cursive;
    font-weight: 900;
    font-size: 60px;
    text-align: center;
  }

  .image{
    grid-area: 1 / 2 / 3 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .photo{
    border-radius: 50%;
    border:solid var(--bs-body-color) 10px
  }

  .ab{
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
  }

  .comm{
    margin: 10px;
  }

  .skill{
    margin-top: 50px ;
    font-family: "Playwrite FR Moderne", cursive;
    font-weight: 900;
    font-size: 60px;
    text-align: center;
  }

  .heading{
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    padding-bottom: 0px;
  }

  .edu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 400px;
    width: 400px;
    position: relative;
    left: 35%;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .box1{
    grid-area: 1/1/2/2;
    height: 200px;
    width: 200px;
    border-bottom: 5px solid #107e57;
    border-right: 10px solid #107e57;
  }

  .elliptical{
    border-radius: 10px;
    height: 100px;
    width: 400px;
    /* border: 10px solid black; */
    position: absolute;
    top: 150px;
    right: 400px;
  }

  .box2{
    grid-area: 2 / 1 / 3 / 2;
    height: 200px;
    width: 200px;
    border-top: 5px solid #107e57;
    border-right: 10px solid #107e57;
  }

  .big-box{
    grid-area: 1 / 2 / 3 / 3;
    height: 400px;
    width: 200px;
    border-left: 10px solid #107e57;
    border-bottom: 10px solid #107e57;
    border-top: 10px solid #107e57;
  }

  .elliptical2{
    border-radius: 10px;
    height: 100px;
    width: 400px;
    /* border: 10px solid black; */
    position: absolute;
    left: 400px;
    bottom: 350px
  }

  .elliptical3{
    border-radius: 10px;
    height: 100px;
    width: 400px;
    /* border: 10px solid black; */
    position: absolute;
    left: 400px;
    top: 350px
  }

  .write{
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
  }

  .upt{
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 500;
    font-size: 20px;
    list-style: "#";
    padding-left: 10px;
    padding-right: 10px;
  }

  .code{
    border-radius: 10px;
    margin-left: 20px;
  }

  .codes{
    border-radius: 10px;
    margin-left: 30px;
    width: 100px;
  }

  .middle-container{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
  }

  .card{
    height: 310px;
    width: 350px;
    background-color: beige;
    border-radius: 10px;
  }

  .project{
    margin-top: 50px ;
    margin-bottom: 50px;
    font-family: "Playwrite FR Moderne", cursive;
    font-weight: 900;
    font-size: 60px;
    text-align: center;
  }

  .tindog{
    display: flex;
    justify-content: space-evenly;
    height: 400px;
    align-items: center;
    width: 80%;
    border-radius: 40px;
    position: relative;
    left: 10%;
  }

  .tin{
    height:  350px;
    border-radius: 20px;
    width: 550px
  }

  .tintitle{
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 700;
    font-size: 40px;
  }

  .tinw{
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-left: 20px;
    width: 500px
  }

  .cont{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .contactme{
    height: 80px;
    width: 300px;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 500;
    font-size: 40px;
    border: none;
  }

  @media (max-width: 1229px){
    .education{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .edu{
      left: 0px;
      right: 10%;
    }

    .box1{
      border-bottom: none;
    }

    .box2{
      border-top: none;
    }

    .big-box{
      border-top: none;
      border-bottom: none;
    }

    .elliptical{
      right: 10%;
      left: 10%;
      width: 80%;
    }

    .elliptical2, .elliptical3{
      right: 10%;
      left: 10%;
      width: 80%;
    }
  }

  @media (max-width: 853px){
    .header{
      height: 100vh;
    }

    .top-container{
      display: flex;
      flex-direction:column-reverse;
      justify-content: center;
      gap: 10px;
    }

    .greet{
      font-size: 40px;
    }

    .photo{
      width: 50%;
      height: 100%;
    }

    .education{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .skill{
      font-size: 40px;
    }

    .edu{
      left: 0px;
      right: 10%;
    }

    .box1{
      border-bottom: none;
    }

    .box2{
      border-top: none;
    }

    .big-box{
      border-top: none;
      border-bottom: none;
    }

    .elliptical{
      right: 10%;
      left: 10%;
      width: 80%;
    }

    .elliptical2, .elliptical3{
      right: 10%;
      left: 10%;
      width: 80%;
    }
  }
